.jumbotron { 

    text-align: center; 
    background: none;
}


.lightSection {
    
    background-color: #eceeef; 
    padding: 2em;
    
}


div.carousel-caption{ 
    background-color: rgba(0,0,0,0.6);
    border-radius: 7px;
}

div.carousel-inner img { 
    width: 100%;
}

nav.navbar.navbar-expand-lg{ 
    width: 100%; 
    margin: 0; 
    z-index: 1; 
    position: fixed;
}

.darkSection {
    background-color: #cccccc;
    padding: 2rem;
}

div.home-button-wrapper { 
    display: block;
    width: 100%;
    margin: 20px 0 auto;
    padding: 2rem;
}

button.homeBtn { 
    display: block;
    margin: auto;
    padding: 1rem 5rem;
}

/********** Home Modal ********/
h5.modal-title { 
    margin: auto;
}

div.gear-form-wrapper {
    
    margin: 2em 0 auto;
    align-content: center;
}
form.gearForm { 
/*    text-align: center;*/
}

